body {
  font-family: Anolis;
  color: #333;
  line-height: 17px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #FEFEFE;
  border-radius: 10px;
}

h1 {
  font-family: Anolis;
  letter-spacing: 4px;
  font-size: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #F72445;
}

h2 {
  font-family: Anolis;
  letter-spacing: -0.5px;
  font-size: 22px;
  font-variant: small-caps;
  display: flex;
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 5px;
}

.description {
  font-family: Anolis;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

input {
  font-family: Phelsuma;
  padding: 0px;
  height: 30px;
  color: #444;
  outline: none;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 4px;
  vertical-align: middle;
  margin-top: 10px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.noDisplay {
  display: none;
}
