body.optionsBody {
  background-color: #5f5f5f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 450px;
  height: 470px;
}

.description {
  width: 350px;
  padding-left: 15px;
}

input {
  width: 75%;
}
