.container {
  width: 290px;
  padding: 8px 24px;
}

.description {
  width: 285px;
  padding-left: 5px;
}

#releaseNotesLink {
  font-family: Phelsuma;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #0089ff;
  cursor: pointer;
  font-size: 16px;
}

#releaseNotes > ul {
  padding-left: 20px;
  text-align: left;
  list-style-type: square;
}

#releaseNotes > ul > li {
  font-size: 16px;
  margin-bottom: 5px;
}

#releaseNotes > ul > li:first-child > .version {
  font-weight: bold;
}

button {
  justify-content: center;
  cursor: pointer;
  padding: 0px;
  height: 41px;
  width: 139px;
  background-color: #F72445;
  color: #FFFFFF;
  outline: none;
  display: flex;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  border: 0px solid #34c1e5;
  border-radius: 4px;
}

input {
  width: 100%;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  filter: brightness(85%);
}

.displaySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
}

.center {
  display: flex;
  justify-content: center;
  margin: auto;
}

#connectionErrorAlert > ul {
    margin-top: 5px;
}

.popupAlert {
  color: red;
  text-align: left;
  margin-top: 20px;
}
