@font-face {
  font-family: 'Anolis';
  font-style: normal;
  font-weight: normal;
  src: local('Anolis'), local('Anolis-Regular'),
       url('anolis/Anolis-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Anolis';
  font-style: normal;
  font-weight: bold;
  src: local('Anolis'), local('Anolis-Bold'),
       url('anolis/Anolis-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Anolis';
  font-style: italic;
  font-weight: normal;
  src: local('Anolis'), local('Anolis-Italic'),
       url('anolis/Anolis-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Phelsuma';
  font-style: normal;
  font-weight: normal;
  src: local('Phelsuma'), local('Phelsuma-Regular'),
       url('phelsuma/Phelsuma-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Phelsuma';
  font-style: normal;
  font-weight: bold;
  src: local('Phelsuma'), local('Phelsuma-Bold'),
       url('phelsuma/Phelsuma-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Phelsuma';
  font-style: italic;
  font-weight: normal;
  src: local('Phelsuma'), local('Phelsuma-Italic'),
       url('phelsuma/Phelsuma-Italic.woff') format('woff');
}
